* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: #fff;
}

input, button, a, ul, li {
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  background: none;
  background: none;
}

.navbar__top {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.navbar__top--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__top--btn {
  border-radius: 5px;
  border: 1px solid #290247;
  border-radius: 5px;
  padding: 12px 16px;
  font-weight: 700;
  margin-left: 24px;
  cursor: pointer;
}

.navbar__inputs {
  display: flex;
  width: 505px;
  padding: 12px;
  align-items: center;
  gap: 11px;
  border-radius: 5px;
  background: #E7E7E7;
  margin-right: 78px;
  margin-left: 30px;
}

.navbar__input--icon i {
  cursor: pointer;
  font-size: 16px;
}

.navbar__links.navbar__hidden--search {
  font-size: 16px;
  color: #290247;
  display: none;
}

.fa-magnifying-glass {
  font-size: 24px;
}

.navbar__links {
  color: #110C1F;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.navbar__link {
  font-size: 12px;
  font-weight: 400;
}

.navbar__sign {
  padding: 12px 32px;
  border-radius: 5px;
  background-color: #290247;
  color: white;
  cursor: pointer;
}

.navbar__sign--hidden {
  display: none;
  font-size: 24px;
}

.navbar__bottom {
  display: flex;
  overflow-x: scroll;
  gap: 8px;
}

.navbar__catagory {
  color: #110C1F;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 16px;
  letter-spacing: -0.3px;
  border-radius: 10px;
  border: 1px solid #110C1F;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0;
}

/* Handle */
@media screen and (max-width: 1200px) {
  .navbar__inputs {
    max-width: 310px;
  }
}
@media screen and (max-width: 992px) {
  .navbar__inputs {
    display: none;
  }
  .navbar__links.navbar__hidden--search {
    display: block;
  }
  .navbar__sign--hidden {
    display: block;
  }
  .navbar__links i {
    font-size: 24px;
  }
  .navbar__link {
    display: none;
  }
  .navbar__sign {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar__links {
    margin-right: 32px;
  }
}
@media screen and (max-width: 576px) {
  .navbar__top--btn {
    margin-left: 14px;
  }
  .navbar__top--btn span {
    display: none;
  }
  .navbar__links {
    margin-right: 16px;
  }
}
.hero__section {
  padding: 72px 46px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../../img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 14px;
}
.hero__title {
  color: #110C1F;
  font-size: 28px;
  font-weight: 700;
}
.hero__text {
  color: #110C1F;
  font-size: 20px;
  font-weight: 400;
}
.hero__btn {
  padding: 12px 32px;
  color: white;
  border-radius: 5px;
  background: #290247;
  display: inline-block;
}


@media screen and (max-width: 1200px) {
  .hero__section {
    padding: 60px 33px;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__btn {
    padding: 10px 28px;
  }
}
@media screen and (max-width: 992px) {
  .hero__section {
    padding: 45px 27px;
  }
  .hero__title {
    font-size: 20px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero__btn {
    padding: 8px 24px;
  }
}
@media screen and (max-width: 768px) {
  .hero__section {
    padding: 32px 20px;
    gap: 6px;
  }
  .hero__title {
    font-size: 18px;
  }
  .hero__text {
    font-size: 10px;
  }
  .hero__btn {
    padding: 6px 20px;
    font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  .hero__section {
    padding: 18px 8px;
    gap: 6px;
  }
  .hero__title {
    font-size: 10px;
  }
  .hero__text {
    font-size: 6px;
  }
  .hero__btn {
    padding: 4px 14px;
    font-size: 6px;
  }
}

/*# sourceMappingURL=main.css.map */
