*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher',
    sans-serif;
}

.container{
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background-color: #fff;
}


input,button, a, ul, li{
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border:none;
    background:none;
    background:none;
}

