.hero {
    &__section {
        padding: 72px 46px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        background-image: url("../../img/hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 14px;
    }
    &__title{
        color: #110C1F; 
        font-size: 28px; 
        font-weight: 700; 
    }
    &__text{
        color: #110C1F;
        font-size: 20px;
        font-weight: 400;
    }
    &__btn{
        padding: 12px 32px;
        color:white;
        border-radius: 5px;
        background: #290247;
        display: inline-block;
    }
}


@media screen and (max-width: 1200px) {
          .hero {
              &__section {
                  padding: 60px 33px;
              }

              &__title {
                  font-size: 24px;
              }

              &__text {
                  font-size: 16px;
              }
              &__btn{
                padding: 10px 28px;
              }
          }
}
@media screen and (max-width: 992px) {
        .hero{
            &__section{
                padding: 45px 27px;
            }
            &__title{
                font-size: 20px;
            }
            &__text{
                font-size: 12px;
            }
             &__btn {
                 padding: 8px 24px;
             }
        }
}
@media screen and (max-width: 768px) {
        .hero{
            &__section{
                padding: 32px 20px;
                gap:6px
            }
            &__title{
                font-size: 18px;
            }
            &__text{
                font-size: 10px;
            }
             &__btn {
                 padding: 6px 20px;
                 font-size: 10px;
             }
        }
}
@media screen and (max-width: 576px) {
        .hero{
            &__section{
                padding: 18px 8px;
                gap:6px
            }
            &__title{
                font-size: 10px;
            }
            &__text{
                font-size: 6px;
            }
             &__btn {
                 padding: 4px 14px;
                 font-size: 6px;
             }
        }
}
// @media screen and (max-width: 360px) {
//         .hero{
//             &__section{
//                 padding: 60px 33px;
//             }
//             &__title{
//                 font-size: 24px;
//             }
//             &__text{
//                 font-size: 16px;
//             }
//         }
// }