.navbar {}

.navbar__top {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.navbar__top--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__top--btn {
    border-radius: 5px;
    border: 1px solid #290247;
    border-radius: 5px;
    padding: 12px 16px;
    font-weight: 700;
    margin-left: 24px;
    cursor: pointer;
}

.navbar__inputs {
    display: flex;
    width: 505px;
    padding: 12px;
    align-items: center;
    gap: 11px;
    border-radius: 5px;
    background: #E7E7E7;
    margin-right: 78px;
    margin-left: 30px;
}

.navbar__input--icon i {
    cursor: pointer;
    font-size: 16px;
}

.navbar__links.navbar__hidden--search {
    font-size: 16px;
    color: $secondary;
    display: none;
}

.fa-magnifying-glass {
    font-size: 24px;
}

.navbar__input {}

.navbar__links {
    color: #110C1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.fa-regular {}

.fa-bookmark {}

.navbar__link {
    font-size: 12px;
    font-weight: 400;
}

.navbar__sign {
    @include btn
}

.navbar__sign--hidden {
    display: none;
    font-size: 24px;
}

.navbar__bottom{ 
    display: flex;
    overflow-x: scroll;
    gap: 8px;
    // box-shadow: 3px 0px 5px inset;
}

.navbar__catagory{
    color: #110C1F;   
    font-size: 16px; 
    font-weight: 400; 
    padding: 6px 16px;
    letter-spacing: -0.3px;
    border-radius: 10px;
    border: 1px solid #110C1F;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
   
}


@media screen and (max-width:1200px) {
    .navbar__inputs {
        max-width: 310px;
    }
}

@media screen and (max-width:992px) {
    .navbar__inputs {
        display: none;
    }

    .navbar__links.navbar__hidden--search {
        display: block;
    }

    .navbar__sign--hidden {
        display: block;
    }

    .navbar__links i {
        font-size: 24px;
    }

    .navbar__link {
        display: none;
    }

    .navbar__sign {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .navbar__links{
        margin-right: 32px;
    }
}
@media screen and (max-width:576px) {
    .navbar__top--btn {
        margin-left: 14px;
        span{
        display: none;
        }
    }
    .navbar__links{
        margin-right: 16px;
    }
}